body {
    text-align: center;
}

.container {
    margin: 0 auto;
}

h1 {
    font-size: 24px;
}

.row {
    display: flex;
}

.box {
    flex: 1;
    padding: 10px;
    text-align: left;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.keystroke {
    border: 1px solid #0000002b;
    background-color: #00000014;
    padding: 3px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    margin-right: 10px;
}

.green {
    color: green;
}

.green-bg {
    background-color: rgba(0, 128, 0, 0.1);
    cursor: pointer;
}

.red {
    color: red;
}

.red-bg {
    background-color: rgba(255, 0, 0, 0.1);
    cursor: pointer;
}

.blue {
    color: blue;
}

.suggested {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
}

.suggested-text {
    font-size: 18px;
    margin-right: 10px;
}

.hidden {
    display: none;
}